<!doctype html>

<!-- tämä on ns. landing page elikkäs ensimmäinen näytettävä sivu -->

<html>

  <head>

    <meta charset="utf-8">

    {% load static %}
    <link rel="stylesheet" href="{% static "css/submit.css" %}" />

    <title> Manual chamber GHG mesurements submission server </title>

  </head>

  <body>

    <div class="page">

      <div class="top contentbox">
	<h1 class="landingtitle"> Upload soil respiration data </h1>
      </div>

      <div class="main contentbox">

	<div class="explanation">
	  <p class="textp">
	    This is the pilot web service for submitting GHG manual chamber measurement forms.
	  </p>
	  <p class="textp">
	    Intended for use during summer 2023. Version 3.
	  </p>
	</div>

	<div class="entry">
	  <p class="textp">
	    click here to login
	  </p>
	  <p class="linkp"> <a href="/submit/upload"> login </a> </p>
	</div>

	<div class="explanation">
	  <p>
	    Data server is <a href="https://data.ghgdata.fi/"> here </a>
	  </p>
	</div>

      </div>

    </div>

  </body>

</html>

